<br />
<div class="alert alert-info alert-block">
  <a class="close" data-dismiss="alert">&#215;</a>
  <h4>
    A simple way to understand and take action on your online privacy.
  </h4>
  <h5>
      We signpost guides to help educate around online privacy and tools to help you make changes to your online activity. Click the Find Out More buttons for more on each tool or guide. Share this resource and help others protect themselves.
  </h5>
</div>

<h4>Search Ideas:</h4><form class="navbar-form">
    <%= search_form_for @search do |f| %>
    <form id="custom-search-form" class="form-search">
        <div class="input-append">
          <%= f.text_field :name_cont %><button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
    </form>
  <% end %>

<h4>Ideas:</h4>    
<ul class="thumbnails">
<% @ideas.each do |idea| %> 
    <div class="box span4 clearfix">
      <%= image_tag idea.picture_url(:thumb) if idea.picture? %>
      <h4><%= link_to idea.name, idea %></h4>
      <p><strong>Tags:</strong> <%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
        <!-- <%= idea.description %></br> -->
    </br>
        <%= link_to "Find Out More", idea, :class => "btn btn-success btn-block" %><br /><br />
      </div>
<% end %>
</ul>
<br />