</br>
<div class="alert alert-info alert-block">
  <a class="close" data-dismiss="alert">close x</a>
  <h4>
    A simple way to understand and take action on your online privacy.
  </h4>
  <h5>
      We signpost guides to help educate around online privacy and tools to help you make changes to your online activity. Click the Find Out More buttons for more on each tool or guide. Share this resource and help others protect themselves.
  </h5>
</div>
</br>

<% @ideas.each do |idea| %>
  <div class="row">
    <div class="span4">
      <div class="thumbnail">
        <%= link_to idea.name, image_tag(idea.picture_url(:thumb)) if idea.picture? %>
      <h4><%= link_to idea.name, idea %></h4>
      <p><strong>Tags:</strong> <%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
        <!-- <%= idea.description %></br> -->
    </br>
        <%= link_to "Find Out More", idea, :class => "btn btn-success btn-block" %>
      </div>
    </div>
<% end %>
  
</br>