<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

<h4><strong>Add Your Comment</strong></h4>

<div class="row">
  <div class="form-inputs">
       <%= f.input :user_name, label: "Name", input_html: { class: 'span6 row' }, wrapper_html: { class: 'span8 row' } %>
       <%= f.input :body, label: "Comment", input_html: { class: 'span6 row' }, wrapper_html: { class: 'span8 row' } %>
  </div>
</div>

  <%= f.hidden_field :idea_id %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-info'  %>
  </div>

<% end %>
